.foot{
    height: 185px;
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    box-sizing: border-box;
    a{
        flex:1;
        display: block;
        i,span{
            display: block;
            width: 120px;
            text-align: center;
            margin: 0 auto;
        }
        i{
            height: 90px;
            line-height: 80px;
            font-size: 90px!important;
        }
    }
}
