.search{
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;

.hot{
    width: 100%;
    &-head{
        width: 100%;
        height: 120px;
        background: #f6f6f6;
        line-height: 130px;
        box-sizing: border-box;
        padding-left: 20px;
        i{
            font-size: 44px;
            color:#529bff;

        }
        span{
            font-size: 42px;
            color:#919191;
        }
    }
    &-content{
        background: #fff;
        box-sizing: border-box;
        padding:60px;
        overflow: hidden;
        a.sbtn{
            display: block;
            margin-bottom: 60px;
            margin-right: 40px;
            line-height: 110px;
            height: 110px;
            padding:0 50px;
            border-radius: 48px;
            background:#f6f6f6; 
            float: left;
            color:#919191;
            text-align: center;
        }
    }
    &-foot{
        margin-top: 10px;
        div{
            background: #fff;
            width: 100%;
            height: 150px;
            line-height: 150px;
            font-size: 44px;
            color:#919191;
            text-align: center;
        }
    }
}
}